{% extends 'base.html' %} 
{% block content %}
<img src="{{coin.img}}" alt="{{coin.type}}">

<div>
    <a href="{% url 'coin_update' coin.pk %}">Update Coin</a>
</div>
<div>
    <a href="{% url 'coin_delete' coin.pk %}">Delete Coin</a>
</div>

<div>
    <h4>Type: {{coin.type}}</h4>
    <h5>Year: {{coin.year}}</h5>
    <h5>Face Value: {{coin.value}}</h5>
    <h3> Quantity: {{coin.quantity}}</h3>
</div>
<div>
    <a href="{% url 'comment_create' %}">Create Comment</a>
</div>
<div>
    <h3>COMMENTS:</h3>
    
    {% for coincomment in coin.comments.all %}
    
    <div>
        <span>{{forloop.counter}}</span>
        <span><b>{{coincomment.title}}</b></span><br>
        <span>{{coincomment.statement}}</span>
    </div>
    {% empty %}
    
    <p>No Comments posted!</p>

    {% endfor %}

</div>

{% endblock %}